[2021-03-10 13:34] mwengren opened #4 "Machine Learning with Sea Floor Sampling Video"
**Project Description:**

Traditionally, surverys of the sea floor are conducted via vessel-mounted cameras which record video as the vessel moves in the water. Hundreds of hours of video are recorded and are often manually processed to determine which species are present on the locations in the video. This project seeks to automate the process using image processing. The intern will help prepare

[2021-03-10 13:37] mwengren opened #5 ""Big Gridded Data": Distributed Cloud Storage for Physical Oceanography Data"
**Project Description:**

Storing highly-voluminous and highly-dimensional data has always presented challenges, and while hardware advancements have eased some of the burden, software remains the critical component in data management systems. This project will explore burgeoning solutions in the big-data realm to store massive volumes of highly-dimensional numeric data across distributed cloud pl

[2021-03-10 14:20] Rohan-cod commented on #4
Venerated Sir,
I hope you are safe and in good health in the wake of prevailing COVID-19.
My name is Rohan Gupta and I am a 3rd-year Computer Science undergraduate student at Shri Mata Vaishno Devi University. I have been working with Python and deep learning for a couple of years now and have in-depth knowledge of it. I look forward to contributing to this idea as part of this year's GSoC.
It wou

[2021-03-11 06:38] lohithmunakala commented on #4
@daltonkell are we looking at coral reefs specifically or are we going for all the species that are present ?

[2021-03-11 11:10] vkrm1612 commented on #5
Can i work on this project

[2021-03-11 18:42] daltonkell commented on #4
Hi @lohithmunakala, we're mostly looking at the very numerous species that were found, like sea stars and sand dollars.

[2021-03-11 19:13] lohithmunakala commented on #4
Hey @daltonkell, I had looked at [VIAME](https://github.com/VIAME/VIAME) as suggested by @/jermy on the mailing list. I had also gone through [this](https://www.ncei.noaa.gov/access/metadata/landing-page/bin/iso?id=gov.noaa.nodc:0217940) dataset titled **National Coral Reef Monitoring Program: Benthic Cover Derived from Analysis of Benthic Images Collected during Stratified Random Surveys (StRS) a

[2021-03-12 12:20] adityaagarwal1710 commented on #4
@daltonkell , I am Aditya Agarwal completing my graduation and specialization(Artificial Intelligence and Machine Learning) from Jaypee University Of Engineering And Technology, Guna.
I wanted to work on this project because it aligns with my field of specialization and interest.
I promise you that i will be able to complete the Machine Learning Model  to identify species from video provided.
I al

[2021-03-12 17:14] Arnold2381 commented on #5
Hello, sirs,
I am a 3rd-year college student from Computer Science Engineering. My skill set includes Python, Java, C, C++, Firebase, HTML, CSS, JS, Flask, tensorFlow, and I have a basic understanding of databases (SQL). I am not that much familiar with Linux though but I will surely start learning for it, and very well versed with Python.
Please allow me to work on this.
Thanks in advance!

[2021-03-12 22:10] nitishsinghal1 commented on #4
Hi @mwengren @daltonkell,Hope this message finds you in good health , I am Nitish Singhal, a 3rd Year Undergrad from The Northcap University , Gurgaon ,India with a specialization in Data Science . Since past 2.5 years working with python , machine learning , Deep learning and recently image processing also .

What drives me to this project is the innovative idea and its huge real life application

[2021-03-15 09:27] harshshaw commented on #5
Hi sir ,
I'm harsh shaw a second year undergraduate at SRM chennai for this project i think using GCP big query will be beneficial as it is capable of handle such big datas also integrating it with the ml models using gcp wont be much of an issue
 please do let me know if im thinking it in the right direction
 thank you !
 @mwengren

[2021-03-15 09:29] harshshaw commented on #5
About me :- https://www.linkedin.com/in/harsh-shaw-070105174

[2021-03-15 11:48] lohithmunakala commented on #4
Hey @mwengren, @daltonkell!

 I would like to know how to make a commit/PR for this particular project as there is no existing repo for this. Would it be advisable to create a repo on my GitHub profile and proceed further?

Please help me out with this.

Thanks!

[2021-03-15 18:32] harshshaw commented on #4
**hi** @mwengren @daltonkell
I'm harsh shaw from SRM chennai a second year undegraduate student , i will like to contribute to this project as it seems very interesting topic to work on even for the DSC google challenge we took a topic on marine life poaching solution ... i will like to discuss further on this topic along with the mentors below i have attached my linkedin and github account
Thank

[2021-03-23 06:38] jarvis-001 commented on #5
Hi @mwengren
I am looking to contribute to the project " "Big Gridded Data": Distributed Cloud Storage for Physical Oceanography Data" . I believe using GCP big query could be highly beneficial for high loads of data and it would be much easier to integrate it with the ml models.
About me ,I am a sophomore from Indian Institute of Technology, Roorkee
I have a working familiarity with Linux, basica

[2021-03-24 05:30] Simardeep27 commented on #4
Hello @daltonkell @mwengren ,
I am Simardeep Singh Sethi. I am a third-year undergraduate student pursuing Bachelors in Technology (Computer Science) from Guru Gobind Singh Indraprastha University (GGSIPU), New Delhi, India. I have a great interest in Machine Learning/Deep Learning and really passionate in learning new topics introduced in the industry. I have a good command over Python language a

[2021-03-25 15:01] benjwadams commented on #5
Hi all, please read up on some of the standards commonly in use by the earth science and oceanographic communities listed below:

NetCDF - A multidimensional file format that allows metadata to be attached to variables.  NetCDF is one of the most common file formats and users generally will expect to be able to get NetCDF data back from a query https://www.unidata.ucar.edu/software/netcdf/docs/net

[2021-03-26 17:06] kunalshah03 opened #6 "Guidance regarding Machine Learning with Sea Floor Sampling Video for GSOC'21"
I am a Pre-final year computer Engineering student studying at Pune Institute of Computer Technology. My CGPA is 9.5/10 for the first four semesters. I am excited about advances in Machine Learning and have been exploring this field lately.
I am interested in this project. I read the abstract provided on the projects page of GSOC'21.
I would like to get more insights on this topic as to what is ex

[2021-03-26 17:13] kunalshah03 commented on #4
@daltonkell @mwengren
I am a Pre-final year computer Engineering student studying at Pune Institute of Computer Technology. My CGPA is 9.5/10 for the first four semesters. I am excited about advances in Machine Learning and have been exploring this field lately.
I am interested in this project. I read the abstract provided on the projects page of GSOC'21.
I would like to get more insights on this

[2021-03-26 17:13] #6 closed

[2021-03-31 19:45] geetikaahuja commented on #4
@daltonkell
Hope you are doing good!
I am Geetika Ahuja, currently pursuing coursework in data science. I have approximately 4 years of experience on working on  Machine Learning and Deep Learning projects.

I would like to work on this particular project as it aligns perfectly well with my area of interest.

I have gone through dataset titled National Coral Reef Monitoring Program: Benthic Cover

[2021-04-02 05:25] harshshaw commented on #5
Hi
@benjwadams   is there any slack or discord channel where i can discuss this further with the mentors , i want to ask  when we already have ERDDAP which is common dataserver and it formats as well , then why are we trying to store it in cloud ? since we can do a direct call to erddap server via  OPeNDAP

[2021-04-02 13:48] jarvis-001 commented on #5
Hi @harshshaw
What I felt was that the ERDDAP database can't be used to directly access ZARR formats and since NetCDF and HDF5 format do not allow multiprocessing/parallel processing (though using MPI ( message passing interface) multi process threading can be done it is extremely hard ) so if we could directly use ZARR file we can even do high amount of computing on cloud only using cloud computi

[2021-04-02 13:54] jarvis-001 commented on #5
Hi Harsh
What I felt was that the ERDDAP database can't be used to directly access
ZARR formats and since NetCDF and HDF5 format do not allow
multiprocessing/parallel processing (though using MPI ( message passing
interface) multi process threading can be done it is extremely hard ) so if
we could directly use ZARR file we can even do high amount of computing on
cloud only using cloud computing an

[2021-04-03 06:07] jarvis-001 commented on #5
@mwengren @benjwadams  @daltonkell how to proceed further ?

[2021-04-05 11:56] daltonkell commented on #4
Hi all,

Thank you for your interest in this project! Here is some more information:

Traditionally, seafloor habitat visual characterization surveys are conducted via towed or vessel-mounted cameras which record video and still images as the vessel travels along a transect. Hundreds of hours of video are recorded and are often manually processed to determine which species and habitat are present

[2021-04-05 12:13] lohithmunakala commented on #4
@daltonkell , thanks for all the information! Is there any headstart with regards to the data that will be provided for training or will it be provided only after the program starts?

A sample dataset would help get an overall idea about how to write the proposal.

Thanks!

[2021-04-05 18:54] benjwadams commented on #5
Hi, I'm checking on the direction of prior work on Zarr and other technologies to determine an appropriate direction forward for this project.

[2021-04-05 19:28] geetikaahuja commented on #4
@daltonkell Thank you for detailed description. I have some questions on the same:

- How do pictures and videos differ? Do they have different data or just two formats? Are we going to use video for species identification  and pictures for habitat components?
- Do we have any existing repository with the data or any models, on top of which we want to build the improved ones?
- Also, how do I shar

[2021-04-05 19:42] jarvis-001 commented on #5
Ok Ben
Till now  I have read all the resources thoroughly you gave in the issues
section and have got a good idea of theoretical concepts . Now any more
resources or concepts (theoretical or code ) that we should read or
understand to make the further contribution part easier ?

ᐧ

On Tue, 6 Apr 2021, 00:24 Benjamin Adams, ***@***.***> wrote:

[2021-04-05 19:55] jarvis-001 commented on #5
And what are the technologies that will be basically used in this project ? So that I could start learning them to make get a basic working idea of their working and use

[2021-04-05 20:54] benjwadams commented on #5
Possibly related and of interest: https://github.com/zarr-developers/community/issues/15

[2021-04-06 07:22] jarvis-001 commented on #5
OK sure Ben I'll check this out
ᐧ

On Tue, Apr 6, 2021 at 2:24 AM Benjamin Adams ***@***.***>
wrote:

[2021-04-06 12:48] MathewBiddle commented on #5
@jarvis-001 It looks like @benjwadams hit the nail on the head wrt technologies with this [comment](https://github.com/ioos/gsoc/issues/5#issuecomment-806907067) and this [comment](https://github.com/ioos/gsoc/issues/5#issuecomment-813643856). Take a look at those and see if you have any questions.

[2021-04-06 14:07] jarvis-001 commented on #5
@MathewBiddle pardon bit I didn't get which comment are you referring to ? Like it's just pointing to th initial project description written by @mwengren

[2021-04-06 14:12] MathewBiddle commented on #5
Sorry https://github.com/ioos/gsoc/issues/5#issuecomment-806907067 and https://github.com/ioos/gsoc/issues/5#issuecomment-813643856.

[2021-04-07 12:26] jarvis-001 commented on #5
Hi @MathewBiddle I went through the first link and am going through the second one .
And am really sorry couldn't reply earlier coz my mid sem examination are going on and will be completed by 9. But till then I will get through these too and understand them thoroughly.

[2021-04-07 21:49] lohithmunakala commented on #4
Hey @daltonkell!

I have submitted the proposal. Please let me know any changes that you would like me to implement to make the proposal more effective.

Thanks a ton!

[2021-04-08 14:14] jarvis-001 commented on #5
Hi @MathewBiddle I went through the second source too and got a good idea about Zarr and n5 and all these stuff but I am having confusion about what are we trying to do like trying to replace HDF5 with zarr or some similar technology  for storing our data . So @MathewBiddle @benjwadams @mwengren @daltonkell can we have real time meet so that I could ask all my doubts related to the project as that

[2021-04-08 14:24] jarvis-001 commented on #5
Like any that sort of meeting would speed up work to a very good extend as well as give a good clarity on how to proceed further
Also I have some doubts regarding some points in proposal for G'SoC which would be cleared in the meeting .
No time constraints with me (except 9 AM to 12 AM as per IST (Indian Standard Time) as I will be having my examination then ).

[2021-04-08 14:33] jarvis-001 commented on #5
Hi @MathewBiddle I went through the second source too and got a good idea
about Zarr and n5 and all these stuff but I am having confusion about what
we are trying to do like trying to replace HDF5 with zarr or some similar
technology for storing our data . So @MathewBiddle @benjwadams @mwengren
@daltonkell can we have real time meet so that I could ask all my doubts
related to the project as that

[2021-04-08 18:34] benjwadams commented on #5
@jarvis-001 , we are looking for modern technologies which can integrate well with distributed data formats such as cloud object stores (e.g. Amazon S3) for storing NetCDF-like data.  If we can also get such a backend integrated into data servers such as THREDDS or ERDDAP, that would be a plus, but not necessary in the original scope of work.

[2021-04-08 20:03] jarvis-001 commented on #5
Ohh thanks @benjwadams , now I did actually get the whole problem statement and what we are actually trying to implement . But the thing is isn't s3-netCDF-python doing the same thing and basically by modern technologies what did you actually mean ? Like can you please elaborate more if possible ?

[2021-04-08 20:10] benjwadams commented on #5
@jarvis-001, there exist bindings in netCDF-C.  To my knowledge there currently aren't comparable bindings for Zarr formatted data for JVM based applications.  The community often uses THREDDS and ERDDAP to distribute, both of which are JVM based applications, which could benefit downstream from development of such bindings.  There look to be the start of bindings to Zarr in JVM languages here: ht

[2021-04-08 20:24] jarvis-001 commented on #5
Ohh ok @benjwadams I need to get a little more information about these points basically and I will try to understand these by today only ( it's 2 am in IST so like in next 22 hours ) .
I also found this while reading about jvm zarr implementation https://jzarr.readthedocs.io/en/latest/. And one more thing like since the data is being at the moment stored in NetCDF format are we trying to shift it

[2021-04-09 11:05] rsignell-usgs commented on #5
Just reading this thread for the first time.  Is the GSoC task evolving into enhancing NetCDF-Java to read Zarr?

If so, it would be good to engage Unidata, as I think they've been working on this also (and they just released the [NetCDF C library 4.8.0 with Zarr support](https://www.unidata.ucar.edu/blogs/news/entry/netcdf-4-8-0)!

[2021-04-09 14:36] benjwadams commented on #5
It certainly seems that this would be a desirable feature and would check a lot of the boxes for distributed data and cloud storage of data on services that are commonly used by the MetOcean community.

@rsignell-usgs, Do you know who we should direct further inquiries to at Unidata?

[2021-04-09 15:44] geetikaahuja commented on #4
@daltonkell

I have submitted my proposal for the project. If you could please review the same and let me know in case any changes are required.

Thanks & Regards,
Geetika

[2021-04-09 16:01] jarvis-001 commented on #5
Ok so @benjwadams I went through all the resourced today and understood this that since java and languages that are also compiled to Java bytecode using jvm, but ZARR format is python based, so we are trying to bind Zarr formatted data for JVM based applications so that THREDDS and ERDDAP which are jvm based can be used to store and distribute ZARR formats .
Is it what exactly we are trying to do

[2021-04-09 16:10] daltonkell commented on #4
Thanks all to have sent in proposals - we will be reviewing shortly and providing feedback. Thanks!

[2021-04-09 16:21] benjwadams commented on #5
This would be a viable topic that fits into the description @mwengren provided above, correct.

[2021-04-09 16:49] jarvis-001 commented on #5
Thanks @benjwadams. I was thinking the same and will complete my research by today about all the other doubts I have .

[2021-04-09 19:24] jarvis-001 commented on #5
Ok @benjwadams @MathewBiddle now I did get what exactly we are trying now the thing is how will we be doing it technically ?

[2021-04-09 20:46] benjwadams commented on #5
Please create a draft proposal on the GSoC site based upon the previous resources provided.  We would be looking at making bindings to Zarr within Java.

[2021-04-09 21:41] jarvis-001 commented on #5
@benjwadams @MathewBiddle @mwengren  I am working on my proposal but am confused in writing abstract and timeline of the project and need guidance from you for that?

[2021-04-10 17:47] jarvis-001 commented on #5
Hi @benjwadams @MathewBiddle could you please break the project into some small tasks or something like that so that I could make an accurate timeline for the project accordingly ?
Like is it that first we will go through ZARR codebase and then try to understand and implement java binding to it ? It would be really great if anyone could elaborate about how they are thinking further about subtasks

[2021-04-11 12:47] jarvis-001 commented on #5
@benjwadams @MathewBiddle @mwengren I have made my proposal will you please share your email id so that I could share it to you and you all could review and give some suggestions about it

[2021-04-12 13:19] jarvis-001 commented on #5
@benjwadams @MathewBiddle @mwengren am very sorry I didn't knew initially but I have shared my draft . So, please review it and do let me know wherever you feel like I need to do the changes
And thanks everyone for guiding till now

[2021-04-12 13:29] benjwadams commented on #5
@jarvis-001, please put on https://summerofcode.withgoogle.com/  -- I got your link but for maximum visibility you will will to place the draft on the GSoC page.  You will *have* to put your final submission on that page.

[2021-04-12 13:41] jarvis-001 commented on #5
@benjwadams I did share it.
Please check again is it fully visible now ?

[2021-04-13 10:40] jarvis-001 commented on #5
Hi Ben anything more I need to work on in proposal ?

[2021-04-13 14:29] benjwadams commented on #5
Yes, as today is the deadline for the proposals, please submit it ASAP so we can enter into consideration for GSoC.

[2021-04-13 20:37] jarvis-001 commented on #5
Hi Ben Mathew and Micah
Thank you so much for your constant support and help during the entire time .
It made thongs a lot easier to understand ...

[2021-04-14 12:33] jarvis-001 commented on #5
Hi Ben I was thinking that I will have my examinations during the community
bonding period. So can we complete those tasks before that timeperiod ?

On Tue, 13 Apr 2021, 20:00 Benjamin Adams, ***@***.***> wrote:

[2022-01-13 21:43] MathewBiddle opened #7 "Update ideas page with projects for 2022"
Let's make a new directory and ideas-list.md for 2022

https://github.com/ioos/gsoc/blob/master/2021/ideas-list.md

[2022-01-27 19:31] MathewBiddle opened #9 "update README table"
The table in the readme reflects last year's projects. We should update that once we close #8

[2022-01-28 14:57] #7 closed

[2022-01-28 17:57] ocefpaf commented on #9
Maybe it would be better to remove that entirely or we will need to modify it every year. When sending it to GSoC application we need only the file inside the 2022 folder. What do you think?

[2022-01-28 19:59] MathewBiddle commented on #9
Agreed. The overarching content is great, but the table should be replaced with a link to the current year's table of projects.

[2022-01-31 21:26] #9 closed

[2022-02-03 21:23] MathewBiddle opened #12 "Update instructions to point folks to template issue"
I created a template for proposing GSoC projects. Maybe it's not a great idea, but I wanted to give it a shot. I was thinking folks could put their project proposals in as tickets to this repo, instead of having them spread around different places.
![image](https://user-images.githubusercontent.com/8480023/152430707-9164cdc0-369d-43f4-948b-a3278c06e37f.png)

[2022-02-10 14:51] rsignell-usgs opened #14 "Efficient access to IOOS data in the cloud"
Project Description:

Storing highly-voluminous and highly-dimensional data has always presented challenges, and while hardware advancements have eased some of the burden, software remains the critical component in data management systems. This project will explore burgeoning solutions in the big-data realm to store massive volumes of highly-dimensional numeric data across distributed cloud platfo

[2022-02-10 16:26] martindurant commented on #14
Link to documentation for `kerchunk`, the library into which this project's code would be added: https://fsspec.github.io/kerchunk/

I would expand the expected outcomes section:

A module would be added to the `kerchunk` codebase to scan and find the binary offsets within remote netCDF3 files. Documentation for the use of this new functionality would be produced, to appear in the `kerchunk` docs

[2022-02-11 16:20] cgentemann commented on #14
I would expand the paragraph on data a little from:

While new cloud-performant formats like Zarr have been created to represent the NetCDF Data Model, it has been shown that NetCDF files themselves can be made cloud-performant by creating a JSON file that makes a collection of JSON files readable by the Zarr library.

To:

NetCDF4 data can be stored and accessed on the cloud, but it isn't 'fast'.

[2022-02-11 16:35] martindurant commented on #14
a JSON file that makes a collection of **netCDF** files readable *directly* by the Zarr library. There is no need to transcode or duplicate the original data.

[2022-02-11 17:37] cgentemann commented on #14
Yes!

[2022-02-15 14:54] MathewBiddle opened #15 "Making ocean biodiversity data easily accessible with python (pyobis revamp)"
Project Description:

The [Ocean Biodiversity Information System (OBIS)](https://obis.org/) is a global open-access data and information clearing-house on marine biodiversity for science, conservation and sustainable development. OBIS harvests occurrence records from thousands of datasets and makes them available as a single integrated dataset via [various services](https://obis.org/manual/access/

[2022-02-15 21:07] 7yl4r commented on #4
Does anyone have thoughts on [biigle](https://biigle.de/)? A collegue is exploring it for her similar use case.

[2022-02-15 21:15] 7yl4r commented on #14
@bbest : Maybe extractR is relevant here?

[2022-02-15 21:17] martindurant commented on #14
@7yl4r , can you please provide a link and/or short description of this?

[2022-02-17 19:53] leewujung opened #16 "Interactive visualization of cloud-hosted ocean sonar data"
**Project Description:**

Ocean sonar systems, such as echosounders, are the [workhorse to study life in the ocean](https://storymaps.arcgis.com/stories/e245977def474bdba60952f30576908f). They provide continuous observations of fish and zooplankton by transmitting sounds and analyzing the echoes bounced off these animals, just like how medical ultrasound images the interior of human body. In recen

[2022-02-18 18:23] 7yl4r commented on #14
https://github.com/marinebon/extract-app - The application serves as a middleman between ERDDAP and the user, exposing an even higher-level API for users looking to analyze spatiotemporal grids.

I see this thread is more performance-minded, but the ease-of-access to netcdf data is more limited by technical capacity than it is computational limitations. This mention is relevant to the title, but p

[2022-02-18 18:59] rsignell-usgs commented on #14
@7yl4r , ERDDAP is designed to allow access to IOOS data on regular file systems -- this proposal targets cloud object storage, which allows direct extraction of the data using object storage services (without extra data services).

[2022-02-19 15:49] 7yl4r commented on #14
I am missing something here. Direct extraction to the data via object store would be serving files individually? Individual file access is easy though. DAP provides an API for grabbing data less dependent on the files themselves, and the extract-app aims to close the gap between DAP and user needs. Can you help me understand the use case for this project? Is the aim to create a more performant DAP

[2022-02-19 16:15] martindurant commented on #14
There is no server in our architecture *at all*. All it requires is a previously generated small references sidecar file, which can be stored at a separate location to the main data.

We provide the following things, some of which may be covered by other tools:
- metadata consolidation, so you can understand a many-file dataset (metadata plus physical storage) in a single read
- read from all of t

[2022-03-01 20:08] 7yl4r commented on #14
Thank you for adding detail here. At a minimum I am at least understanding that I am over my head.

It sounds like a lot of value has been created and it seems that I personally would benefit from documentation and examples built by a GSoC student. I will look forward reading and reviewing the materials.

[2022-03-09 03:56] Krish2208 commented on #15
Hello Sir,
I am Krish Agrawal and would like to contribute to this project, can you please help me with the process and can you please tell me about the contribution guidelines and proposal format.

Thank You

[2022-03-09 13:23] ayushanand18 commented on #15
Hi @MathewBiddle @7yl4r @ocefpaf, I am Ayush Anand, a Computer Science Undergrad from the National Institute of Technology Durgapur, India. I have been working on Deep Learning and Data Science for 2 years now and my previous projects have focused on various parts of a data science pipeline including CI/CD. I have prior experiences working with REST APIs and even creating one for an old project fo

[2022-03-09 13:27] ayushanand18 commented on #15
I would also like to ask if I shall proceed with making a PR/fork of the pyobis package or there are any tasks to headstart with? Thanks in advance!

[2022-03-09 15:23] ocefpaf commented on #15
Sure. Sending some PRs is a nice way to demonstrate your interest in the project and start learning about the code base. However, remember that we will select students based on the project proposal. I recommend you to work on a proposal based on the ideas page.

Feel free to share a draft with us in case you need guidance.

[2022-03-09 16:38] Krish2208 commented on #15
Can you share a basic structure of the proposal, I mean what all things do we need to mention or is the proposal structure open?

[2022-03-09 17:56] ocefpaf commented on #15
You can view past projects in https://summerofcode.withgoogle.com/archive/2021/organizations/5159672092295168#projects-list

[2022-03-10 13:27] ayushanand18 commented on #15
Thanks a ton @ocefpaf

[2022-03-13 05:04] dwipddalal commented on #16
Hi.
I am Dwip Dalal sophomore at IIT Gandhinagar. I have been working with machine learning and data science for two years now. My passion for it has motivated me to take part in GSOC. After going through numerous organizations, I found IOOS very interesting; I am especially interested in using my data science and data visualization skills in geospatial analysis. Therefore, I would love to spend m

[2022-03-13 05:20] leewujung commented on #16
Hey @dwipddalal, nice meeting you!  It's great to know that you're interested in this project. Do you want to do an introduction in the project repo [echoshader](https://github.com/OSOceanAcoustics/echoshader)?

You will see that we are in the process of populating resources and materials for the project, but we definitely welcome you to start asking questions and brainstorming ideas anytime!

[2022-03-13 05:58] dwipddalal commented on #16
Yes I would love to introduce myself in the echoshader repo. Could you please suggest me in which specific section of the repo do I have to introduce myself?

[2022-03-13 06:06] dwipddalal commented on #16
Should it be in issues tab with gsoc 2022 label?

[2022-03-13 06:37] leewujung commented on #16
@dwipddalal: we think the best way is for you to ask a question and/or put in some ideas to brainstorm with us (the mentors). You can also make a profile on github that everyone can see, and in your application you will be able to introduce yourself more fully there! :)

[2022-03-13 06:44] pushkar2112 commented on #15
Hi,
I am Pushkar Verma a First-year Computer Science student from India. I would very much like to contribute to this project. I am experienced in python centric development and have past experience with REST APIs as I have previously used them in my projects.
I have started to make myself familiar with the codebase and, am optimistic about the project. Also, I have an idea that I would like to di

[2022-03-14 04:00] dwipddalal commented on #16
Sorry Sir for the late response.
What I understood until now: We have to make functionalities for visualization of the  ocean sonar data using HoloViz toolkits.
Could you please let me know if my understanding of this project is correct or not?
I forgot to give my github profile: https://github.com/dwipddalal

[2022-03-14 04:02] leewujung commented on #16
@dwipddalal : What I meant was that you should ask questions or post ideas for discussion in the echoshader repo linked above.

[2022-03-14 04:03] dwipddalal commented on #16
Okay Sir.

[2022-03-16 18:17] ayushanand18 commented on #15
@ocefpaf Hope you are doing great! I have drafted a proposal for the pyobis revamp project. Please have a look at it and provide your valuable feedback on it: [https://docs.google.com/document/d/1HJeqiE6WnYCDmtLmssUgwSEqy70yTgb5eifLu3FOUP0/edit?usp=sharing](https://docs.google.com/document/d/1HJeqiE6WnYCDmtLmssUgwSEqy70yTgb5eifLu3FOUP0/edit?usp=sharing). Your feedback will help me improve a lot!

[2022-03-16 18:23] ayushanand18 commented on #15
Also, I tried updating the modules to OBIS API v3, and I am glad to share that I was successful in editing the occurrence module, and only minor changes are required to integrate other modules. Using the actual package from PyPI got me some errors like "could not make connection", so I edited and ran the dev version on my local machine. You can view the Commit 7a6630a, [https://github.com/ayushana

[2022-03-19 07:53] ayushanand18 commented on #15
@ocefpaf @7yl4r @MathewBiddle I have changed the pyobis/groups, nodes, occurrences, checklist, taxa modules to integrated them with OBIS v3 API. These changes are minor to make the GET requests in line with the v3 API (as on Swagger [here](https://api.obis.org/#/)).\
But I had some questions.
+ I was not able to find the API reference for existing pyobis/resources and pyobis/groups.
+ Also, I cann

[2022-03-22 13:23] ayushanand18 commented on #15
@ocefpaf @MathewBiddle @7yl4r Could you please help me out? While trying out the OBIS API v3 on Swagger, I get the `mof` value as *null every time I iter through the /occurrence resource. I am also attaching a screenshot for your reference.

Thank you for your time!

<img width="826" alt="image" src="https://user-images.githubusercontent.com/36472216/159490333-39f92195-8713-4644-81e3-e054aba92fd7.

[2022-03-22 17:10] ocefpaf commented on #15
We will have a slack channel when GSoC starts. For now we can use the GH issues on the problem main repository to keep the notifications more focused on the pre-selection PRs. BTW, I'll be a bit slow to respond over the next few weeks.

[2022-03-23 07:35] ayushanand18 commented on #15
Thanks a ton @ocefpaf, I'll surely write issues of the main repository directly.

[2022-03-24 09:50] harshil15999 commented on #16
Good Evening I have gone through all the issues and the current thread. Could you guide us to some good starter tasks and also perhaps some guidelines as to what has to be included in the proposal for GSOC.

[2022-03-25 03:02] leewujung commented on #16
@harshil15999 : Welcome! 😃

Please go ahead to the echoshader repo: https://github.com/OSOceanAcoustics/echoshader and find relevant links in the README:

And start discussion with us!

[2022-04-11 13:58] ocefpaf commented on #14
@martindurant and @rsignell-usgs are you getting candidates for this project? GSoC is having a lower engagement this year due to its many changes. You may need to advertise if on twitter and other venues to draw more attention to it.

[2022-04-11 15:09] ayushanand18 commented on #15
@ocefpaf I hope everything is good now. I wrote an email to you seeking your guidance on my proposal. Your feedback on it would help me improve a lot. Thanks in advance! :)

[2022-04-12 12:33] rsignell-usgs commented on #14
@ocefpaf , nope.   It's definitely a cool project and I'll tweet about it.   Use #GSoC22 right?

[2022-04-12 15:23] martindurant commented on #14
@rsignell-usgs , if you put something out, I'll retweet and can get Anaconda and/or zarr to do so too. That should reach enough people.

cc @hdsingh , if you have any contacts that might be interested in working with us.

[2022-04-13 12:09] bitanb1999 commented on #16
Hello,
My name is Bitan Biswas and I am a Masters's student in Computer Science at the University of Calcutta and  a Research Assistant at Cardiff University. I have been working in the field of DataScience for three years  and my urge to learn more has got me to take part in Summer of Code. The work by IOOS seems extremely interesting and aligns with my interests in acoustic sound event detection

[2022-04-13 12:17] BjoernMayer92 commented on #14
@rsignell-usgs, @martindurant

Hello,
I am a PhD Candidate in Climate Science from Germnay. I am working on the interface between machine learning and climate science trying to extract new insight by applying explainable AI methods to data from earth system models. I am a trained physicist that switched to climate science and a mostly self taught programmer. Therefore, my coding skills are not on

[2022-04-13 15:19] Decenov commented on #14
[@rsignell-usgs](https://github.com/rsignell-usgs),[ @martindurant](https://github.com/martindurant)
Hello, Hope it’s not too late to reach out. I’m a 2nd-year Ph.D. student in physical oceanography from Hong Kong. Pretty similar background to the preview candidate,  but my topic is related to ML and ocean models. I have worked on NetCDF, Zarr files from models and observations, and done data anal

[2022-04-13 20:47] martindurant commented on #14
@BjoernMayer92 , @Decenov : thank you both for reaching out. As the description describes, there are a few options in this project, depending on how much coding you are comfortable with. I do encourage you to look at the `kerchunk` repo (and, less importantly, `fsspec.implementations.reference`) to get a feel for how complex the current code stack is. Obviously, the more you know about xarray and

[2022-04-14 11:59] rsignell-usgs commented on #14
@BjoernMayer92 and @Decenov: I agree with @martindurant that the sweet spot here might be setting up workflows to generate JSON using kerchunk for some high impact datasets, for example:  https://registry.opendata.aws/ecmwf-era5/.   Forecast dataset JSON files need to be updated regularly as new forecasts arrive.    In addition to generating the JSON-generating workflows, you could also develop an

[2022-04-15 15:44] Decenov commented on #14
[@rsignell-usgs](https://github.com/rsignell-usgs),[ @martindurant](https://github.com/martindurant)
Thank you for the replies. I have submitted an informal proposal. I’ll update it by the deadline. I know it’s already the Easter holiday, but feel free to give me any feedback whenever you are available. Thanks

[2022-04-17 18:19] pushkar2112 commented on #15
@ocefpaf Hi,
I have sent you an email, seeking feedback and guidance on my project proposal. Your feedback on it would prove very helpful for me.
Thanks!😀

[2022-04-18 10:31] peterm790 commented on #14
Hello, [@rsignell-usgs](https://github.com/rsignell-usgs) and  [ @martindurant](https://github.com/martindurant),

Unfortunately I am also somewhat late to the party here. I am a recent Master's graduate in atmospheric science with experience working with `xarray`, `zarr`, etc. and looking for opportunities to gain more CS experience.

I have had a read through the `kerchunk` repository and believ

[2022-04-18 11:46] rsignell-usgs commented on #14
@peterm790 yes, that's definitely an interesting project to persue!  By all means submit a proposal!

[2022-05-21 03:17] ayushanand18 commented on #15
@ocefpaf @MathewBiddle @7yl4r Hope you are doing great, I am sure IOOS Code Sprint would have gone really well!

I would like to sincerely thank you all for your guidance and support throughout the application period and before. It's been an amazing experience so far, and I am really excited for the future working under your guidance and the learnings that lie ahead. This would be incomplete witho

[2022-05-23 11:58] ocefpaf commented on #15
Glad you are excited for the next steps. I'm closing this issue for now and we will be in touch shorty. Thanks to all that applied and for all the amazing proposals that you submitted.

[2022-05-23 11:58] #15 closed

[2022-05-25 13:45] martindurant commented on #14
Work will be happening in https://github.com/fsspec/GSoC-kechunk-2022 . We can close this issue now, or at the end of the project.

[2022-09-27 18:33] mwengren opened #21 "Add links to student project summaries after each GSOC year"
We should at a minimum link to the summary report/page that each student submits at the end of their projects.

Ideally, make a GH pages site or some other way to present these in a compelling way.  If that's too complicated, we can just make a markdown page and list them out with links.

Hopefully, most of the places the students posted their reports are persistent (?)

[2022-09-27 19:13] mwengren commented on #21
## 2021:

GSOC 2021 Portal IOOS org page: https://summerofcode.withgoogle.com/archive/2021/organizations/5159672092295168

- Qi Zeng: https://q1zeng.github.io/
- Callum Rollo: https://gist.github.com/callumrollo/ee28f7e1863d30162bdb041156314543
- Lohith Munakala: https://lohithmunakala.medium.com/seafloor-sampling-and-data-demo-center-jupyter-book-migration-gsoc21-ioos-a9930abc4c42

## 2022:

GSOC

[2022-09-27 19:14] MathewBiddle commented on #21
@ocefpaf has put together a nice write-up about this year's efforts. We should put that somewhere too.

[2022-09-27 19:16] MathewBiddle commented on #21
we also have this page https://ioos.noaa.gov/news/summer-of-code-with-u-s-ioos/

[2022-09-27 19:33] ocefpaf commented on #21
I shared the hackmd with out @mwengren. We can move that to this repo when we are done editing.

[2022-09-29 15:25] mwengren commented on #21
I made a few small edits but it looks like a good writeup, let's post it.

How about if we turn the writeup into a results.md or project-results.md file or something like that and put it alongside the ideas list for 2022: https://github.com/ioos/gsoc/tree/main/2022?

Ideally, we should create something similar for 2021 and post it in the 2021 folder as well: https://github.com/ioos/gsoc/tree/main/

[2022-09-29 18:10] ocefpaf commented on #21
+1 (we should at least collect the links to where these are being published here to make it easier to find them for GSoC23.)

Will do.

We can link created an index in the README for those. I'll work on it.

[2022-09-29 19:53] ocefpaf commented on #21
Done in #22

[2022-09-30 15:55] #21 closed, assigned to nobody